#main-content, .main-content {
  padding-top: 80px;
 
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.962);
  font-family:Avenir, "Century Gothic", sans-serif;
  font-weight:100; 
  font-style:normal;
  font-size: calc(10px + 2vmin);
  color: white;
}

